body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: #4c6ef5;
    color: white;
}

.hero span {
    color: yellow;
}

/* Sections */
section {
    padding: 60px 20px;
}

/* Projects */
.project-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #4c6ef5;
    border-radius: 5px;
}

.project-card a {
    text-decoration: none;
    font-weight: bold;
    color: #4c6ef5;
}

/* Contact */
.contact a {
    text-decoration: none;
    color: #4c6ef5;
}

